#header {
	width: 100%;
	height: 10%;
	background-color: blue;
}

#toolbar {
	width: 100%;
	background-color: red;
}

#left-sidebar {
	width: 30%;
	background-color: yellow;
}

#main-content {
	width: 70%;
	background-color: orange;
}