<form (ngSubmit)="onSubmit()" #wordForm="ngForm">
	<div class="form-group">
		<label for="word">Word</label>
		<input	[(ngModel)]="userWord"
				#name="ngModel"
				placeholder="Enter a word to knit..." 
				required
				type="text" 
				class="form-control" 
				name="word"
				id="word" 
				required>
	</div>

	<button 
		[disabled]="!wordForm.form.valid"
		type="submit" 
		class="btn btn-success">Let's knit!</button>
</form>

<!--
<div class="input-group">
        <input
          placeholder="Enter a word..."
          [(ngModel)]="userWord">
        <span class="input-group-btn">
          <button
            (click)="encodeWord(userWord)"
            class="btn btn-secondary"
            type="button">Let's knit!</button>

[(ngModel)]="userWord"

#wordForm="ngForm"

        </span>
      </div>
      -->
