<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input
          placeholder="Enter a word..."
          [(ngModel)]="userWord">
        <span class="input-group-btn">
          <button
            (click)="encodeWord(userWord)"
            class="btn btn-secondary"
            type="button">Let's knit!</button>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 offset-lg-3" [hidden]="!wordToEncode.word">
      <div *ngFor="let base of wordToEncode.encodings; index as i">
        Base {{i+2}}: <span *ngFor="let arr of base">{{arr}} </span>
      </div>
      <!--<ul>-->
        <!--<li>Encoded word: {{wordToEncode.word}}</li>-->
<!---->
        <!--<li *ngFor="let base of wordToEncode.encodings">Base: <span *ngFor="let char of base">{{char}} </span>-->
        <!--</li>-->
        <!--<li>Encoded word: {{wordToEncode.word}}</li>-->
      <!--</ul>-->

    </div>
  </div>
</div>
